{% extends "layout.html" %}
{% block content %}
	<h3>Using CSS to style an HTML Form</h3>
<p>{{ fields }}</p>

<div class="form">
  <form action="/save" method="post">
    {% for field in fields %}
        <label for="{{ field.name }}">{{ field.description }}</label>

        {% if 'options' in field %}

            <select id="{{ field.name }}"
                    value="{{ values[field.name] }}"
                    name="{{ field.name }}"
            >
                {% for option in field.options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

        {% else %}
            <input type="{{ input_types[field.type] }}" id="{{ field.name }}"
                   name="{{ field.name }}" value="{{ values[field.name] }}"/>
        {% endif %}
    {% endfor %}
  <input type="submit" value="Absenden"/>
  </form>
</div>
{% endblock content %}