<!DOCTYPE HTML>
<html lang="en-US">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('ui.static', filename=config.favicon) }}">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('ui.static', filename='lib/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('ui.static', filename='lib/bootstrap-icons.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('ui.static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('ui.static', filename='css/map.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('ui.static', filename='css/form.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('ui.static', filename='lib/leaflet.css') }}"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="{{ url_for('ui.static', filename='lib/jquery.min.js') }}" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="{{ url_for('ui.static', filename='lib/bootstrap.bundle.min.js') }}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{ url_for('ui.static', filename='lib/leaflet.js') }}"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            ></script>

    <script id="MathJax-script" async src="{{ url_for('ui.static', filename='lib/tex-mml-chtml.js') }}"></script>

    {% if title %}
        <title>{{ title | clean }}</title>
    {% else %}
        <title>{{ config.title | clean }}</title>
    {% endif %}


</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
        {% if config.get('logo') %}
            <a class="navbar-brand" href="{{ config.logo.link }}">{{ config.logo.look | safe}}</a>
        {% endif %}
            <a class="navbar-brand" href="{{ url_for('ui.index') }}">{{ config.title | clean }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('ui.map') }}">{{ config.map.title | clean }}</a>
                    {% for page in config.navigation %}
                        <a class="nav-item nav-link" href="{{ url_for('ui.content', page=page) }}">{{ config.navigation[page] | clean }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</header>


<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        {% block sidebar %}{% endblock sidebar %}
    </div>
    {% block map %}{% endblock map %}
</main>

<!-- Footer -->
</body>
</html>
