{% extends "map.html" %}
{% block site_map_script %}
    <!-- this style is needed for the info box, which is dynamically created -->
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
    </style>

    <script type=text/javascript>
        function colorForValue(upper_limits, colors, value) {
            if (value === undefined) {
                return ['#000000', 'undefined'];
            }
            for (var i=0; i<upper_limits.length; i++) {
                let text = '';
                if (value < upper_limits[i]) {
                    if (i === 0) {
                        text = '&lt; '  + upper_limits[i].toPrecision(4);
                    } else {
                        text = upper_limits[i - 1].toPrecision(4) + ' - &lt; ' + upper_limits[i].toPrecision(4);
                    }
                    return [colors[i], text];
                }
            }
            return [colors[i-1], '&gt; '  + upper_limits[i-1].toPrecision(4)];
        }

        make_sites = (C) => {
            // Load data from server
            C.legend = {
                colors: ['#ffffcc','#a1dab4','#41b6c4','#225ea8'],
                limits: [2, 4, 8],
                get_color: function(value) {
                    if (value === undefined) {
                        return 'white';
                    }
                    for (var i=0; i<this.limits.length; i++) {
                        if (value < this.limits[i])
                            return this.colors[i];
                    }
                    return this.colors[this.limits.length];
                }
            };
            $.getJSON('{{ config.base_url }}sites.geojson', {},
                function(data) {
                    console.log(data);
                    C.geojson = L.geoJSON(data, {
                        onEachFeature: function(feature, layer) {
                            layer.on({
                                mouseover: function(e) {
                                    e.target.setStyle({
                                        weight: 5,
                                        color: '#666',
                                        dashArray: '',
                                        fillOpacity: 1.0
                                    });
                                    C.info.update(layer.feature.properties);
                                },
                                mouseout: function(e) {
                                    C.geojson.resetStyle(e.target);
                                    C.info.update();
                                },
                                click: function(e) {
                                    C.lmap.setView(e.latlng, C.lmap.getZoom() + 2);
                                }
                            });
                        },
                        pointToLayer: function(feature, latlng) {
                            var marker = L.circleMarker(latlng,
                                {
                                    radius: 8,
                                    fillColor: C.legend.get_color(feature.properties.value),
                                    color: "#000",
                                    weight: 1,
                                    opacity: 1,
                                    fillOpacity: 0.8
                                });
                            console.log(marker);
                            return marker;
                        }
                    }).addTo(C.lmap);

                }
            );
            // Make info control
            C.info = new L.Control();

            C.info.onAdd = function(_) {
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                this.update();
                return this._div;
            };

            // method that we will use to update the control based on feature properties passed
            C.info.update = function(props) {
                let text = '<h4>Info</h4>';
                if (props) {
                    text += '<ul>';
                    for (let propname in props) {
                        text += '<li>' + propname + ': ' + props[propname] + '</li>';
                    }
                    text += '</ul>';
                }
                this._div.innerHTML = text;
            };

            C.info.addTo(C.lmap);

        }

    </script>
{% endblock %}
