{% extends "layout.html" %}
{% block map %}
    <div id="mapid"></div>

    <div id="icon"></div>
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
    </style>
    <script type=text/javascript>
        function colorForValue(upper_limits, colors, value) {
            if (value === undefined) {
                return ['#000000', 'undefined'];
            }
            for (var i=0; i<upper_limits.length; i++) {
                let text = '';
                if (value < upper_limits[i]) {
                    if (i === 0) {
                        text = '&lt; '  + upper_limits[i].toPrecision(4);
                    } else {
                        text = upper_limits[i - 1].toPrecision(4) + ' - &lt; ' + upper_limits[i].toPrecision(4);
                    }
                    return [colors[i], text];
                }
            }
            return [colors[i-1], '&gt; '  + upper_limits[i-1].toPrecision(4)];
        }
        <!-- create empty Layers -->
        var markers = {};
        var circles = {};

        <!-- create map object on load it -->
        var mymap = L.map('mapid').setView([{{ map.lon }}, {{ map.lat }}], {{ map.zoomlevel }});
        L.tileLayer(
            'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                maxZoom: 17,
                attribution: 'Kartendaten: © OpenStreetMap-Mitwirkende, SRTM | Kartendarstellung: © <a href="https://opentopomap.org/about">OpenTopoMap</a> (CC-BY-SA)'
            }).addTo(mymap);

        <!--  create control object -->
        var LocationButton = L.Control.extend({
            options: {
                position: 'topleft'
                //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
            },
            onAdd: function (mymap) {
                var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');

                L.DomEvent.disableClickPropagation(container);

                container.title="{{ map.location_btn }}";

                container.style.backgroundColor = 'white';
                container.style.backgroundImage = "url({{ url_for( 'static', filename='images/marker_icon.svg')}})";
                container.style.backgroundSize = "30px 30px";
                container.style.width = '33px';
                container.style.height = '33px';

                container.onmouseover = function(){
                    container.style.backgroundColor = '#F4F4F4';
                }

                container.onmouseout = function(){
                    container.style.backgroundColor = 'white';
                }

                container.onclick = function(){
                    console.log('buttonClicked');
                    container.style.backgroundImage = "url({{ url_for( 'static', filename='images/loading.svg')}})";


                    mymap.locate({setView: true, maxZoom: 16});

                    function onLocationFound(e) {
                        var radius = e.accuracy / 2;
                        var coord = e.latlng.toString().split(',');
                        var lat = coord[0].split('(');
                        var lng = coord[1].split(')');

                        if (markers !== undefined) {
                            mymap.removeLayer(markers);
                        }
                        if (circles !== undefined) {
                            mymap.removeLayer(circles);
                        }

                        markers =  L.marker(e.latlng); //, {draggable:'true'}
                        mymap.addLayer(markers);
                        var latstring = lat.toString().slice(7,);
                        var lngstring = lng.toString().slice(1,-1);
                        let form_url = '{{ url_for("form") }}?' + $.param({lat: latstring, lon: lngstring})
                        markers.bindPopup(
                            `<a class="btn btn-secondary" href="${form_url}">{{ map.location_msg }}</a>`
                        ).openPopup();


                        circles =  L.circle(e.latlng, radius);
                        mymap.addLayer(circles);

                        container.style.backgroundImage = "url({{ url_for( 'static', filename='images/marker_icon_location_found.svg')}})";
                    };

                    mymap.on('locationfound', onLocationFound);

                };
                return container;
            },
        });
        mymap.addControl(new LocationButton());

        {%  if not showsites %}
            <!-- set up click on map event to create a marker -->
            mymap.on('click',
                function(e){
                    var coord = e.latlng.toString().split(',');
                    var lat = coord[0].split('(');
                    var lng = coord[1].split(')');
                    var latstring = lat.toString().slice(7,);
                    var lngstring = lng.toString().slice(1,-1);

                    if (markers !== undefined) {
                        mymap.removeLayer(markers);
                    }
                    if (circles !== undefined) {
                        mymap.removeLayer(circles);
                    }

                    markers = L.marker(e.latlng, {draggable:'true'});
                    mymap.addLayer(markers);
                    let form_url = '{{ url_for("form") }}?' + $.param({lat: latstring, lon: lngstring})
                    markers.bindPopup(
                        `<a class="btn btn-light" href="${form_url}">{{ map.location_msg }}</a>`
                    ).openPopup();

                    markers.on('dragend', function(e) {
                        var coord = String(markers.getLatLng()).split(',');
                        var lat = coord[0].split('(');
                        var lng = coord[1].split(')');

                        var latstring = lat.toString().slice(7,);
                        var lngstring = lng.toString().slice(1,-1);


                        let form_url = '{{ url_for("form") }}?' + $.param({lat: latstring, lon: lngstring})
                        markers.bindPopup(
                            `<a class="btn btn-light" href="${form_url}">{{ map.location_msg }}</a>`
                        ).openPopup();

                    });
                });
        {% elif showsites %}
            // Load data from server
            let legend = {
                colors: ['#ffffcc','#a1dab4','#41b6c4','#225ea8'],
                limits: [2, 4, 8],
                get_color: function(value) {
                    if (value == undefined) {
                        return 'white';
                    }
                    for (var i=0; i<this.limits.length; i++) {
                        if (value < this.limits[i])
                            return this.colors[i];
                    }
                    return this.colors[i];
                }
            };
            var geojson;
            $.getJSON('sites.geojson', {},
                function(data) {
                    console.log(data);
                    geojson = L.geoJSON(data, {
                        onEachFeature: function(feature, layer) {
                            layer.on({
                                mouseover: function(e) {
                                    e.target.setStyle({
                                        weight: 5,
                                        color: '#666',
                                        dashArray: '',
                                        fillOpacity: 0.7
                                    });
                                    info.update(layer.feature.properties);
                                },
                                mouseout: function(e) {
                                    geojson.resetStyle(e.target);
                                    info.update();
                                },
                                click: function(e) {
                                    mymap.setView(e.target.feature.coordinates, mymap.getZoom() + 2);
                                }
                            });
                        },
                        pointToLayer: function(feature, latlng) {
                            var marker = L.circleMarker(latlng,
                                {
                                    radius: 8,
                                    fillColor: legend.get_color(feature.properties.length),
                                    color: "#000",
                                    weight: 1,
                                    opacity: 1,
                                    fillOpacity: 0.8
                                });
                            console.log(marker);
                            return marker;
                        }
                    }).addTo(mymap);

                }
            );
            // Make info control
            var info = L.control();

            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                this.update();
                return this._div;
            };

            // method that we will use to update the control based on feature properties passed
            info.update = function (props) {
                let text = '<h4> Bodenriss </h4>';
                if (props) {
                    text += '<ul>';
                    for (let propname in props) {
                        text += '<li>' + propname + ': ' + props[propname] + '</li>';
                    }
                    text += '</ul>';
                }
                this._div.innerHTML = text;
            };

            info.addTo(mymap);
        {% endif %}


    </script>

{% endblock map %}

