{% extends "layout.html" %}
{% block map %}
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }
    </style>

    <div id="mapid"></div>

    <div id="icon"></div>
    <script type="text/javascript">

        function make_button(url, text) {
            return `<a class="btn btn-light" href="${url}">${text}</a>`
        }

        class Legend {
            constructor() {
                this.colors = {{ map.legend.colors | tojson }};
                this.limits = {{ map.legend.limits | tojson }};
            }
            get_color(props) {
                let value = props[{{ map.legend.value | tojson }}];
                if (value == null) {
                    return 'white';
                }
                for (let i=0; i < this.limits.length; i++) {
                    if (value < this.limits[i])
                        return this.colors[i];
                }
                return this.colors[this.limits.length];
            }
        }
        let InfoBox = L.Control.extend({
            update: (props) => {
                let text = '<h4>Info</h4>';
                if (props) {
                    text += '<ul>';
                    for (let propname in props) {
                        text += '<li>' + propname + ': ' + props[propname] + '</li>';
                    }
                    text += '</ul>';
                }
                this._div.innerHTML = text;
            },
            onAdd: (mymap) => {
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                // this.update();
                return this._div;
            },
        })
        class Controller {
            constructor() {
                this.lmap=this._make_map();
                this.tile_layer = this._make_tile_layer();
                this.circles = undefined;
                this.legend = new Legend();
                this.info = new InfoBox();
                this.info.addTo(this.lmap);
                this.markers = undefined;
                this.geojson = undefined;

            }
            _make_map() {
                let lat = localStorage.getItem('center_lat') || {{ map.lat }};
                let lng = localStorage.getItem('center_lng') || {{ map.lon }};
                let zoom = localStorage.getItem('zoom') || {{ map.zoomlevel }};
                return L.map('mapid').setView([lat, lng], zoom);
            }
            _make_tile_layer() {
                return L.tileLayer('{{ map.tiles.source }}',
                {
                    maxZoom: {{ map.tiles.maxZoom }},
                    attribution: '{{ map.tiles.attribution }}',
                    {% if map.tiles.get('accessToken') %}
                        accessToken: '{{  map.tiles.access_token }}'
                    {% endif %}
                }
            ).addTo(this.lmap);

            }
            make_sites(data) {
                this.geojson = L.geoJSON(data, {
                    onEachFeature: (feature, layer) => {
                        layer.on({
                            mouseover: function(e) {
                                e.target.setStyle({
                                    weight: 5,
                                    color: '#666',
                                    dashArray: '',
                                    fillOpacity: 1.0
                                });
                                C.info.update(layer.feature.properties);
                            },
                            mouseout: function(e) {
                                C.geojson.resetStyle(e.target);
                                C.info.update();
                            },
                            click: e =>  {
                                let props = e.target.feature.properties
                                let form_url = '{{ url_for("ui.form") }}?' + $.param(props)
                                e.target.bindPopup(
                                    make_button(form_url, e.target.feature.properties[{{ map.legend.label | tojson}}])
                                ).openPopup();
                                L.DomEvent.stopPropagation(e);
                            }
                        });
                    },
                    pointToLayer: (feature, latlng) => {
                        var marker = L.circleMarker(latlng,
                            {
                                radius: 8,
                                fillColor: this.legend.get_color(feature.properties),
                                color: "#000",
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.8
                            });
                        console.log(marker);
                        return marker;
                    }
                }).addTo(this.lmap);
            }
            load_sites() {
                fetch('{{ config.base_url }}/sites.geojson')
                    .then(response => response.json())
                    .then(data => this.make_sites(data))
            }
        }



        // Shows the "Create Entry" popup at the location e.latlng. Used for various event handlers
        function openEntryPopup(e) {
            let form_url = '{{ url_for("ui.form") }}?' + $.param({lat: e.latlng.lat, lon: e.latlng.lng})
            C.markers.bindPopup(
                make_button(form_url, {{ map.location_msg  | tojson}})
            ).openPopup();
        }

        let LocationButton = L.Control.extend(
            {
                options: {
                    position: 'topleft'
                    //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
                },
                onAdd: (mymap) => {
                    let container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');

                    L.DomEvent.disableClickPropagation(container);

                    container.title = "{{ map.location_btn }}";

                    container.style.backgroundColor = 'white';
                    container.style.backgroundImage = "url({{ url_for('ui.static', filename='images/marker_icon.svg')}})";
                    container.style.backgroundSize = "30px 30px";
                    container.style.width = '33px';
                    container.style.height = '33px';

                    container.onmouseover = function () {
                        container.style.backgroundColor = '#F4F4F4';
                    }

                    container.onmouseout = function () {
                        container.style.backgroundColor = 'white';
                    }

                    container.onclick = function () {
                        console.log('buttonClicked');
                        container.style.backgroundImage = "url({{ url_for('ui.static', filename='images/loading.svg')}})";
                        mymap.locate({setView: true, maxZoom: 16});
                        mymap.on('locationfound', (e) => {
                            var radius = e.accuracy / 2;

                            if (C.markers !== undefined) {
                                mymap.removeLayer(C.markers);
                            }
                            if (C.circles !== undefined) {
                                mymap.removeLayer(C.circles);
                            }

                            C.markers = L.marker(e.latlng);
                            mymap.addLayer(C.markers);
                            openEntryPopup(e);

                            C.circles = L.circle(e.latlng, radius);
                            mymap.addLayer(C.circles);

                            container.style.backgroundImage = "url({{ url_for('ui.static', filename='images/marker_icon_location_found.svg')}})";
                        });

                    }
                    return container;
                }

            }
        );
        var C = undefined;
        $(() => {
            C = new Controller();

            C.lmap.addControl(new LocationButton());
            <!-- set up click on map event to create a marker -->
            C.lmap.on('click', function(e){
                if (C.info !== undefined) {
                    C.info.update({lat: e.latlng.lat, lon: e.latlng.lng});
                }
                if (C.markers !== undefined) {
                    C.lmap.removeLayer(C.markers);
                }
                C.markers = L.marker(e.latlng, {draggable:'true'});
                C.lmap.addLayer(C.markers);
                openEntryPopup(e);
            });
            C.lmap.on('moveend', e => {
                c = C.lmap.getCenter()
                localStorage.setItem('center_lat', c.lat)
                localStorage.setItem('center_lng', c.lng)
            })
            C.lmap.on('zoomend', e => {
                localStorage.setItem('zoom', C.lmap.getZoom())
            })
            C.load_sites();
        });
    </script>
    {% block site_map_script %}{% endblock %}

{% endblock map %}

