{% extends "layout.html" %}
{% block map %}
    <div id="mapid"></div>

    <div id="icon"></div>
    <script type="text/javascript">

        class Controller {
            constructor() {
                this.markers=undefined;
                this.circles=undefined;
                this.lmap=undefined;
                this.info=undefined;
                this.legend=undefined;
                this.geojson=undefined;
            }
        }

        C = new Controller();


        // Shows the "Create Entry" popup at the location e.latlng. Used for various event handlers
        function openEntryPopup(e) {
            let form_url = '{{ url_for("ui.form") }}?' + $.param({lat: e.latlng.lat, lon: e.latlng.lng})
            C.markers.bindPopup(
                `<a class="btn btn-light" href="${form_url}">{{ map.location_msg }}</a>`
            ).openPopup();
        }

        let LocationButton = L.Control.extend(
            {
                options: {
                    position: 'topleft'
                    //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
                },
                onAdd: (mymap) => {
                    let container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');

                    L.DomEvent.disableClickPropagation(container);

                    container.title = "{{ map.location_btn }}";

                    container.style.backgroundColor = 'white';
                    container.style.backgroundImage = "url({{ url_for( 'static', filename='images/marker_icon.svg')}})";
                    container.style.backgroundSize = "30px 30px";
                    container.style.width = '33px';
                    container.style.height = '33px';

                    container.onmouseover = function () {
                        container.style.backgroundColor = '#F4F4F4';
                    }

                    container.onmouseout = function () {
                        container.style.backgroundColor = 'white';
                    }

                    container.onclick = function () {
                        console.log('buttonClicked');
                        container.style.backgroundImage = "url({{ url_for( 'static', filename='images/loading.svg')}})";
                        mymap.locate({setView: true, maxZoom: 16});
                        mymap.on('locationfound', (e) => {
                            var radius = e.accuracy / 2;

                            if (markers !== undefined) {
                                mymap.removeLayer(markers);
                            }
                            if (circles !== undefined) {
                                mymap.removeLayer(circles);
                            }

                            C.markers = L.marker(e.latlng);
                            mymap.addLayer(markers);
                            openEntryPopup(e);

                            circles = L.circle(e.latlng, radius);
                            mymap.addLayer(circles);

                            container.style.backgroundImage = "url({{ url_for( 'static', filename='images/marker_icon_location_found.svg')}})";
                        });

                    }
                    return container;
                }

            }
        );

        let make_sites= (C) => {};
        $(() => {
            C.lmap = L.map('mapid').setView([{{ map.lon }}, {{ map.lat }}], {{ map.zoomlevel }});
            L.tileLayer('{{ map.tiles.source }}',
                {
                    maxZoom: {{ map.tiles.maxZoom }},
                    attribution: '{{ map.tiles.attribution }}',
            {% if map.tiles.get('accessToken') %}
                    accessToken: '{{  map.tiles.access_token }}'
            {% endif %}
                }
            ).addTo(C.lmap);

            C.lmap.addControl(new LocationButton());
            <!-- set up click on map event to create a marker -->
            C.lmap.on('click', function(e){
                if (C.info !== undefined) {
                    C.info._div.innerHTML = e.latlng.toString();
                } else {
                    if (C.markers !== undefined) {
                        C.lmap.removeLayer(C.markers);
                    }
                    if (C.circles !== undefined) {
                        C.lmap.removeLayer(C.circles);
                    }
                    C.markers = L.marker(e.latlng, {draggable:'true'});
                    C.lmap.addLayer(C.markers);
                    openEntryPopup(e);

                    C.markers.on('dragend', openEntryPopup);

                }
            });
            make_sites(C);
        });
    </script>
    {% block site_map_script %}{% endblock %}

{% endblock map %}

